@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --background-color: #fff;
    --background-color-primary: #fff;
    --background-color-secondary: #EFF2F5;
    --color-white: #000;
    --color-black: #fff;
    --border-color: #D4D4D4;
    --text-secondary: #55626F;
    --chart-light-bg: #fff;
    --chart-dark-bg: #050505;
    --chart-light-border: #D4D4D4;
    --chart-dark-border: #333;
    --links-color: #1565C0;
}

#dark-theme {
    --background-color: #050505;
    --background-color-primary: #0E1218;
    --background-color-secondary: #1C2025;
    --color-white: #fff;
    --color-black: #000;
    --border-color: #1D1F22;
    --text-secondary: #bebebe;
    --links-color: #1565C0;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

div::-webkit-scrollbar {
    height: 8px;
}